.search {
    width: 100%;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

.search:focus {
    outline: none;
}

.search[disabled] {
    opacity: .70;
    background-color: white;
}

.active {
    border-radius: .5rem .5rem 0 0;
}

.search::placeholder {
    text-align: start;
}