.unit {
    width: 25%;
    padding: .5rem;
    border: none;
    background-color: white;
    font-weight: 300;
}

.unit:first-of-type {
    border-radius: .3rem  0 0 .3rem;
}

.unit:last-of-type {
    border-left: 1px solid #9e9e9e;
    border-radius: 0 .3rem .3rem 0;
}

.unit:not([disabled]):hover {
    background-color: #9fffe0;
    cursor: pointer;
}

.unit[disabled]:not(.active) {
    opacity: .80;
    color: #545454;
}

.active {
    background-color: #2bbd7e;
    color: black;
    font-weight: normal;
    opacity: .80;
    cursor: auto;
}