.card {
    display: flex;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.30);
    justify-content: space-between;
    padding: 2rem 2rem;
    border-radius: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
}
