.navbar {
    height: 7rem;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.title {
    margin: 0 0 0 2rem;
    font-size: 2.8rem;
    padding: 1.5rem;
    font-weight: 300;
}

.selectorsContainer {
    text-align: end;
    margin-right: 2rem;
}

.searchbarContainer {
    position: relative;
}