.navbar {
    height: 10%;
    background-color: #40c4ff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.title {
    margin: 0 0 0 2rem;
    font-size: 2.8rem;
    padding: 1.5rem;
    font-weight: 300;
}

.selectorsContainer {
    text-align: end;
    margin-right: 2rem;
}

.searchbarContainer {
    position: relative;
}