html {
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 1.8rem;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 2rem;
}

#root {
	height: 100%;
}