.container {
    width: 100%;
    max-width: 180rem;
    margin: 2rem auto auto auto;
    display: grid;
    grid-column-gap: 15rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}